.headerMain {
    padding: 1rem 0 1rem 0;
}

.boxMain {
    margin-top: 2rem;
    padding: 5rem 0 5rem 0;
    width: 900px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.boxBit {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.exchange-rate {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

.imgFlag {
    padding: 0 1rem 0 1rem;
}

footer {
    margin-top: 7rem;
}

button {
    margin: 1rem;
}

form {
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    box-shadow: 1.2px 3px rgba(0, 0, 0, 0.137);
}

.select {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.233);
}

label {
    padding-top: 0.5rem;
}

.title {
    padding-bottom: 0.5rem;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

#test2 {
    width: 100%;
    max-height: min-content;
}

#test {
    max-width: 100% !important;
}

.card {
    box-shadow: 2px 3px rgba(0, 0, 0, 0.24);
}

.card:hover {
    transition: ease-in-out .5s;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.459);
}

.headerDev {
    padding: 2rem;
    margin: 3rem 0 3rem 0;
}

.devImg {
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.219);
}

strong {
    color: white;
}

footer a {
    color: white;
}

.breaker {
    color: white;
}

.containerT {
    margin-top: 2rem;
}


/* Chart CSS */
.button-34 {
    background: #3fd412;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 20px 58px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .button-34 a {
    color: inherit;
  }